body {
  background-color: #fff;
  font-family: sans-serif;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 100%;
  display: flex;
  background-color: black;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #bbbbe0;
}

/* Table */

#photos table {
  height: 40em;
  width: 100%;
  border-collapse: collapse;
}

#photos td {
  filter: brightness(0.25);
}

#home {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  bottom: 7.5em;
  font-size: 4.5em;
}

/* Images */

#img1 {
  background: url("images/codigo.jpg");
}

#img2 {
  background: url("images/jogos.jpg");
}

#img3 {
  background: url("images/fpga.jpg");
}

/* Main */

main {
  margin-top: 85px;
  padding: 20px;
}

section {
  margin-left: 10%;
  margin-right: 5%;
}

section h2 {
  font-size: 3rem;
  padding-left: 8%;
}

.wrapper {
  display: inline-flex;
}

section p {
  font-size: 2rem;
  max-width: 70%;
  max-height: stretch;
  text-align: center;
  align-content: center;
  flex: 1;
}

section p a {
  color: #000;
}

section img {
  max-width: 40%;
  height: auto;
}

#about p {
  padding-right: 2%;
  padding-left: 5%;
}

#about img {
  margin-right: 10%;
}

#hobbies p {
  padding-right: 5%;
  padding-left: 2%;
}

#hobbies img {
  margin-left: 10%;
}

#projects dl {
  margin-left: 10%;
  margin-right: 10%;
}

#projects dl dt {
  font-size: 2rem;
}

#projects dl dd {
  font-size: 1.5rem;
  margin: 20px;
  max-width: 60%;
  max-height: stretch;
  text-align: center;
  align-content: center;
  flex: 1;
}

#projects dl img {
  margin: 20px;
  max-width: 40%;
  height: auto;
}

#projects #gif {
  max-width: 100%;
  height: auto;
}

#projects dl a {
  font-weight: bold;
  color: #6e6be3;
}

#projects dl abbr {
  text-decoration: none;
  color: #224;
}

#projects dl abbr:hover {
  color: #817dec;
}

#contact ul {
  padding: 0;
  margin-bottom: 7%;
}

#contact li {
  display: inline;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 1.5rem;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.logos {
  margin-left: 15%;
}

footer a {
  display: inline;
  margin: 0.5em;
}

footer a img {
  margin-top: 10px;
  width: 2em;
  height: 2em;
}

footer p {
  padding: 0;
  font-size: unset;
  margin-right: 15%;
  text-align: right;
}