body{
    background-color: #fff;
}

header nav {
    background-color: black;

}


nav ul{
    list-style-type: none;
    padding: 0;
    column-count: 5;
}

nav ul li{
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
}

nav ul li #name {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

nav ul li a:hover{
    color: #bbbbe0;
}


header table{
    /* border-collapse: collapse; */
    border: 3px solid black;
}

header table tr {
    width: 100%;
}

header table tr td {
    flex: 1;
    width: 30em;
    height: 30em;
    border: 3px solid red;
}

header table tr #img1 {
    background-image: url('images/codigo.jpg');
    
    
}

header table tr #img2 {
    background-image: url('images/jogos.png');
}

header table tr #img3 {
    background-image: url('images/fpga.jpg');
}